-
  var header = "#my-diplomas"
  var awardList = [
    {
      title: " Computer Literacy License",
      description: "The test took place at the Electrotechnic and Telecomm. Highschool and it involved building a website from scratch.",
      location: "Constanta - Romania",
      date: "2003",
    },
    {
      title: "Cambridge Advanced English Assessment",
      description: "The test took place at the International Computer Highschool of Constanta, and it was structured in 4 modules.",
      location: "Constanta - Romania",
      date: "2003",
    }
  ];

#award 
.award
  .award__header=header
  each award in awardList
    .award__card
      .award__icon
        span.my-cv__icon--book
      .award__title=award.title
      
      .award__icon
        span.my-cv__icon--pencil2
      .award__description=award.description
      
      .award__icon
        span.my-cv__icon--location2
      .award__location=award.location

      .award__icon
        span.my-cv__icon--calendar
      .award__date=award.date