-
  var header = "#my-projects"
  var projectsList = [
    {
      title: "Defiance v2",
      url: "https://github.com/QuintyHH/Defiance",
      type: "C# - Decal lib.",
      description: [
        'A pet-project of mine, built as a utility and UX tool for Decal plugin environment. It’s used to facilitate certain automation aspects in a, particularly old video game.',
        ' Made at the request of ~450 people, most of which have been using it for the past 12 months with no issues.',
        'Made entirely in C#.',
      ],
    },
    {
      title: "My Resume",
      url: "https://github.com/QuintyHH/my-resume",
      type: "HTML5 / CSS3",
      description: [
        'A simple, yet effective 1-page resume template, showcasing different CSS3 techniques, with a mobile-first approach.',
        'The main purpose is to highlight a couple CSS3 tricks, single-page responsiveness, and high optimization.',
        'Used tech: HTML5, CSS3, a dab of JavaScript for good measure.',
      ],
    },
    {
      title: "Quick Blog",
      url: "https://github.com/QuintyHH/blog-samp",
      type: "HTML5 / CSS3",
      description: [
        'This project is a showcase of a custom Blog that is quickly managed, 100% responsive, with a Google Insights PageSpeed score of 100.',
          'The main purpose is to generate html files from any sort of list (jsonin this case) using templates.',
          'Used tech: HTML5, CSS3, a dab of JavaScript for good measure.',
      ],
    },
    {
      title: "RB Replica",
      url: "https://github.com/QuintyHH/roberto-blake-replica",
      type: "HTML5 / CSS3",
      description: [
        ' An attempt to improve and optimize YouTuber’s Roberto Blake personal website, improving the Google Insights PageSpeed score while keeping the UI similar.',
        'Minor UX tweaks and accessibility improvements as a side benefit. ',
        'Used tech: HTML5, CSS3, a dab of JavaScript for good measure.',
      ],
    }
  ];

#projects 
.projects
  .projects__header=header
  input.project__input(type="radio", name="proj-radio", id="proj-default")
  each project, key in projectsList
    input.project__input(type="radio", name="proj-radio", id=`proj-id-${key}`)
    label.project__title(for=`proj-id-${key}`)
      | #{project.title}
      label(for="proj-default") 
        span.my-cv__icon--plus
    .project__details
      .project__top
        a.project__url(href=project.url, target="_blank")="GitHub it!"
        .project__type=project.type
      .project__list
        each stage in project.description
          .project__stage=stage
