-
  var header = "#my-projects"
  var projectsList = [
    {
      title: "Defiance v2",
      url: "https://github.com/QuintyHH/Defiance",
      type: "C# - Decal lib.",
      description: [
        'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.',
        'Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.',
        'Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.',
      ],
    },
    {
      title: "My Resume",
      url: "https://github.com/QuintyHH/Defiance",
      type: "HTML5 / CSS3",
      description: [
        'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.',
        'Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.',
        'Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.',
      ],
    },
    {
      title: "Quick Blog",
      url: "https://github.com/QuintyHH/Defiance",
      type: "JavaScript / React",
      description: [
        'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.',
        'Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.',
        'Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.',
      ],
    }
  ];

#projects 
.projects
  .projects__header=header
  input.project__input(type="radio", name="proj-radio", id="proj-default")
  each project, key in projectsList
    
    input.project__input(type="radio",name="proj-radio", id=`proj-id-${key}`)
    label.project__title(for=`proj-id-${key}`)
      | #{project.title}
      label(for="proj-default") 
        span.my-cv__icon--cancel-circle
    .project__details
      .project__top
        a.project__url(href=project.url, target="_blank")="GitHub it!"
        .project__type=project.type
      .project__list
        each stage in project.description
          .project__stage=stage
