-
  var myName = "Razvan Mocanu"
  var myJobTitle = "Web.Developer"
  var socialList =[
    {icon: 'social-facebook-circular', url: 'https://www.facebook.com/mysthh',socialName: 'Facebook'},
    {icon: 'social-twitter-circular', url: 'https://www.twitter.com/',socialName: 'Twitter'},
    {icon: 'social-skype-outline', url: 'https://join.skype.com/invite/eg9iS1MdyFDy',socialName: 'Skype'},
    {icon: 'social-github-circular', url: 'https://github.com/QuintyHH',socialName: 'GitHub'},
    {icon: 'social-linkedin-circular', url: 'https://www.linkedin.com/in/razvan-victor-mocanu/',socialName: 'LinkedIn'},
  ]

#landing-page
.landing-page
  .landing-page__wrapper
    h1.landing-page__name=myName
    h2.landing-page__title=myJobTitle
    ul.landing-page__social
      each social, key in socialList
        li.landing-page__item
          label.landing-page__label(for=`message-box-id-${key}`)
            span(class=`my-cv__icon--${social.icon}`)
    .landing-page__box-body
      input.landing-page__box-radio(type="radio", name="res-radio", checked, id="default-message-radio")
      .landing-page__box-message Click the icons
      each social, key in socialList
        input.landing-page__box-radio(type="radio", name="res-radio", id=`message-box-id-${key}`)
        .landing-page__box-message
          a.landing-page__box-link(href=social.url, target="_blank")=social.socialName
          label.landing-page__box-close(for="default-message-radio") &times