-
  var header = '#about-me'
  var myName = "Razvan Mocanu"
  var myTitle = "Web.Developer"
  var myMotto = '“Give a man a program, frustrate him for a day. Teach a man to program, frustrate him for a lifetime.” ― Muhammad Waseem'
  var achievements = {
    title: '#brief-description',
    content: "Ever since I was a little kid, I loved building stuff. Not just stuff: FUNCTIONAL stuff. I'd be alone in my room using LEGOs to build all sorts of intricate mechanisms and devices. Now, as I've grown up, I found myself a new type of LEGOs: Software Development. I've been around computers all my life, I know what makes them tick, and I know how to get things going with a 'can-do' attitude.",
  }

  var grabStuff = {
    title:'#more cool stuff',
    buttonList: [
      {
        url:'https://github.com/QuintyHH/my-resume',
        icon:'github',
        label:"Click to visit the GitHub project source!",
      },
      {
        url:'asset/pdf/CVRazvanMocanu.pdf',
        icon:'file-pdf',
        label:'Click to download my abbreviated resume!',
      },
      {
        url:'asset/pdf/CVRazvanMocanu.pdf',
        icon:'file-pdf',
        label:'Click to download my detailed resume!',
      }
    ]
  }

#about-me
.about-me
  .about-me__header=header
  .about-me__avatar-wrapper
  .about-me__full-name=myName
  .about-me__title=myTitle
  .about-me__motto=myMotto

  .about-me__title=achievements.title
  .about-me__content=achievements.content

  .about-me__title=grabStuff.title
  .about-me__link-list
    each button in grabStuff.buttonList
      a.about-me__link(href=button.url)
        span.about-me__link-description=button.label
        span(class=`my-cv__icon--${button.icon}`)