//-Data
-
  var header = '#about me'
  var imagePath ="asset/image/avatar.png"
  var myName = "Razvan Mocanu"
  var myTitle = "Front-End Web Developer"
  var myMotto = "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."
  var achievements = {
    title: '#achievement',
    content: " Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.",
  }

  var grabStuff = {
    title:'#more cool stuff',
    buttonList: [
      {
        url:'https://github.com/QuintyHH/my-resume',
        icon:'github',
        label:"Click to visit this CV's GitHub project source!",
      },
      {
        url:'asset/pdf/CVRazvanMocanu.pdf',
        icon:'file-pdf',
        label:'Click to download my abbreviated resume!',
      },
      {
        url:'https://github.com/QuintyHH/my-resume',
        icon:'file-pdf',
        label:'Click to download my fully detailed resume!',
      }
    ]
  }

//-View
#about-me
.about-me
  .about-me__header=header
  .about-me__avatar-wrapper
    img.about-me__avatar(src=imagePath)
  .about-me__full-name=myName
  .about-me__title=myTitle
  .about-me__motto=myMotto

  .about-me__title=achievements.title
  .about-me__content=achievements.content

  .about-me__title=grabStuff.title
  .about-me__link-list
    each button in grabStuff.buttonList
      a.about-me__link(href=button.url)
        span.about-me__link-description=button.label
        span(class=`my-cv__icon--${button.icon}`)