-
  var header = '#about-me'
  var myName = "Razvan Mocanu"
  var myTitle = "Web.Developer"
  var myMotto = '“Give a man a program, frustrate him for a day. Teach a man to program, frustrate him for a lifetime.” ― Muhammad Waseem'
  var achievements = {
    title: '#brief-description',
    content: "I first discovered my deep passion for everything tech-related when I turned 16 and I ended up partially managing an Internet Caffe in my hometown of Constanta, Romania. That was my first brush with Macromedia Dreamweaver, Flash and, of course, video games. It all started with building a website for my then-favorite game, and that was it. I WAS HOOKED! Unfortunatly, life did not agree with my career choice, and I had to pursue other avenues. But now, I can finally focus on what I truly always wanted: Web Design and programming.",
  }

  var grabStuff = {
    title:'#more cool stuff',
    buttonList: [
      {
        url:'https://github.com/QuintyHH/my-resume',
        icon:'github',
        label:"Click to visit the GitHub project source!",
      },
      {
        url:'asset/pdf/CVRazvanMocanu.pdf',
        icon:'file-pdf',
        label:'Click to download my abbreviated resume!',
      },
      {
        url:'asset/pdf/CVRazvanMocanu.pdf',
        icon:'file-pdf',
        label:'Click to download my detailed resume!',
      }
    ]
  }

#about-me
.about-me
  .about-me__header=header
  .about-me__avatar-wrapper
  .about-me__full-name=myName
  .about-me__title=myTitle
  .about-me__motto=myMotto

  .about-me__title=achievements.title
  .about-me__content=achievements.content

  .about-me__title=grabStuff.title
  .about-me__link-list
    each button in grabStuff.buttonList
      a.about-me__link(href=button.url)
        span.about-me__link-description=button.label
        span(class=`my-cv__icon--${button.icon}`)